In [1]:
%matplotlib inline
import pandas as pd                                     # for dealing with csv import
import numpy as np                                      # arrays and other matlab like manipulation
import os                                               # for joining paths and filenames sensibly
import matplotlib.pyplot as plt                         # Matplotlib's pyplot: MATLAB-like syntax
import scipy.stats.mstats as ssm                        # for bootstrap
import random
import pylab as plt

# Set the global default size of matplotlib figures
plt.rc('figure', figsize=(10, 5))
# Size of matplotlib figures that contain subplots
fizsize_with_subplots = (10, 10)

# Size of matplotlib histogram bins
bin_size = 10
plt.ion()

In [2]:
df = pd.read_csv('CrowdstormingDataJuly1st.csv')

In [3]:
df.head(5)

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,...,rater2,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
0,lucas-wilchez,Lucas Wilchez,Real Zaragoza,Spain,31.08.1983,177.0,72.0,Attacking Midfielder,1,0,...,0.50,1,1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696
1,john-utaka,John Utaka,Montpellier HSC,France,08.01.1982,179.0,82.0,Right Winger,1,0,...,0.75,2,2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504
2,abdon-prats,Abdón Prats,RCD Mallorca,Spain,17.12.1992,181.0,79.0,NaN,1,0,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
3,pablo-mari,Pablo Marí,RCD Mallorca,Spain,31.08.1993,191.0,87.0,Center Back,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
4,ruben-pena,Rubén Peña,Real Valladolid,Spain,18.07.1991,172.0,70.0,Right Midfielder,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002

In [4]:
df.describe()

/Users/Sam/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,height,weight,games,victories,ties,defeats,goals,yellowCards,yellowReds,redCards,rater1,rater2,refNum,refCountry,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
count,145765.000000,143785.000000,146028.000000,146028.000000,146028.000000,146028.000000,146028.000000,146028.000000,146028.000000,146028.000000,124621.000000,124621.000000,146028.000000,146028.000000,145865.000000,1.458650e+05,1.458650e+05,145865.000000,1.458650e+05,145865.000000
mean,181.935938,76.075662,2.921166,1.278344,0.708241,0.934581,0.338058,0.385364,0.011381,0.012559,0.264255,0.302862,1534.827444,29.642842,0.346276,1.969741e+04,6.310849e-04,0.452026,2.044023e+04,0.002994
std,6.738726,7.140906,3.413633,1.790725,1.116793,1.383059,0.906481,0.795333,0.107931,0.112889,0.295382,0.293020,918.736625,27.496189,0.032246,1.271262e+05,4.735857e-03,0.217469,1.306157e+05,0.019723
min,161.000000,54.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,-0.047254,2.000000e+00,2.235373e-07,-1.375000,2.000000e+00,0.000001
25%,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,641.000000,7.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,2.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,1604.000000,21.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,3.000000,2.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,NaN,NaN,2345.000000,44.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,203.000000,100.000000,47.000000,29.000000,14.000000,18.000000,23.000000,14.000000,3.000000,2.000000,1.000000,1.000000,3147.000000,161.000000,0.573793,1.975803e+06,2.862871e-01,1.800000,2.029548e+06,1.060660

In [5]:
# it is always worthing to get look on the stds ...

In [6]:
# find the missing value column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146028 entries, 0 to 146027
Data columns (total 28 columns):
playerShort      146028 non-null object
player           146028 non-null object
club             146028 non-null object
leagueCountry    146028 non-null object
birthday         146028 non-null object
height           145765 non-null float64
weight           143785 non-null float64
position         128302 non-null object
games            146028 non-null int64
victories        146028 non-null int64
ties             146028 non-null int64
defeats          146028 non-null int64
goals            146028 non-null int64
yellowCards      146028 non-null int64
yellowReds       146028 non-null int64
redCards         146028 non-null int64
photoID          124621 non-null object
rater1           124621 non-null float64
rater2           124621 non-null float64
refNum           146028 non-null int64
refCountry       146028 non-null int64
Alpha_3          146027 non-null object
meanIAT          145865 non-null float64
nIAT             145865 non-null float64
seIAT            145865 non-null float64
meanExp          145865 non-null float64
nExp             145865 non-null float64
seExp            145865 non-null float64
dtypes: float64(10), int64(10), object(8)
memory usage: 31.2+ MB

In [7]:
#check types we're dealing with
df.dtypes

playerShort       object
player            object
club              object
leagueCountry     object
birthday          object
height           float64
weight           float64
position          object
games              int64
victories          int64
ties               int64
defeats            int64
goals              int64
yellowCards        int64
yellowReds         int64
redCards           int64
photoID           object
rater1           float64
rater2           float64
refNum             int64
refCountry         int64
Alpha_3           object
meanIAT          float64
nIAT             float64
seIAT            float64
meanExp          float64
nExp             float64
seExp            float64
dtype: object

In [8]:
# Select only the rated rows
df1 = df[df.rater1.notnull() & df.rater2.notnull()]

In [9]:
df1.ix[:10,:14]

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,ties,defeats,goals,yellowCards
0,lucas-wilchez,Lucas Wilchez,Real Zaragoza,Spain,31.08.1983,177.0,72.0,Attacking Midfielder,1,0,0,1,0,0
1,john-utaka,John Utaka,Montpellier HSC,France,08.01.1982,179.0,82.0,Right Winger,1,0,0,1,0,1
5,aaron-hughes,Aaron Hughes,Fulham FC,England,08.11.1979,182.0,71.0,Center Back,1,0,0,1,0,0
6,aleksandar-kolarov,Aleksandar Kolarov,Manchester City,England,10.11.1985,187.0,80.0,Left Fullback,1,1,0,0,0,0
7,alexander-tettey,Alexander Tettey,Norwich City,England,04.04.1986,180.0,68.0,Defensive Midfielder,1,0,0,1,0,0
8,anders-lindegaard,Anders Lindegaard,Manchester United,England,13.04.1984,193.0,80.0,Goalkeeper,1,0,1,0,0,0
9,andreas-beck,Andreas Beck,1899 Hoffenheim,Germany,13.03.1987,180.0,70.0,Right Fullback,1,1,0,0,0,0
10,antonio-rukavina,Antonio Rukavina,Real Valladolid,Spain,26.01.1984,177.0,74.0,Right Fullback,2,2,0,0,0,1

In [10]:
df1.ix[:10,14:]

,yellowReds,redCards,photoID,rater1,rater2,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
0,0,0,95212.jpg,0.25,0.50,1,1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696
1,0,0,1663.jpg,0.75,0.75,2,2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504
5,0,0,3868.jpg,0.25,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
6,0,0,47704.jpg,0.00,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
7,0,0,22356.jpg,1.00,1.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
8,0,0,16528.jpg,0.25,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
9,0,0,36499.jpg,0.00,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
10,0,0,59786.jpg,0.00,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752

In [11]:
df2 = df1.groupby(['playerShort', 'height', 'weight', 'rater1', 'rater2', 'refNum', 'refCountry']).sum()

In [12]:
df2.tail()

                                                           games  victories  \
playerShort height weight rater1 rater2 refNum refCountry
zurutuza    186.0  78.0   0.0    0.0    2356   3               7          2
                                        2449   3               2          1
                                        2639   3               1          0
                                        2690   52              1          0
                                        3012   3               1          0

                                                           ties  defeats  \
playerShort height weight rater1 rater2 refNum refCountry
zurutuza    186.0  78.0   0.0    0.0    2356   3              4        1
                                        2449   3              0        1
                                        2639   3              1        0
                                        2690   52             0        1
                                        3012   3              0        1

                                                           goals  yellowCards  \
playerShort height weight rater1 rater2 refNum refCountry
zurutuza    186.0  78.0   0.0    0.0    2356   3               3            0
                                        2449   3               0            0
                                        2639   3               0            0
                                        2690   52              0            0
                                        3012   3               0            0

                                                           yellowReds  \
playerShort height weight rater1 rater2 refNum refCountry
zurutuza    186.0  78.0   0.0    0.0    2356   3                    0
                                        2449   3                    0
                                        2639   3                    0
                                        2690   52                   0
                                        3012   3                    0

                                                           redCards   meanIAT  \
playerShort height weight rater1 rater2 refNum refCountry
zurutuza    186.0  78.0   0.0    0.0    2356   3                  0  0.369894
                                        2449   3                  0  0.369894
                                        2639   3                  0  0.369894
                                        2690   52                 0  0.398174
                                        3012   3                  0  0.369894

                                                             nIAT     seIAT  \
playerShort height weight rater1 rater2 refNum refCountry
zurutuza    186.0  78.0   0.0    0.0    2356   3           1785.0  0.000229
                                        2449   3           1785.0  0.000229
                                        2639   3           1785.0  0.000229
                                        2690   52           526.0  0.000809
                                        3012   3           1785.0  0.000229

                                                            meanExp    nExp  \
playerShort height weight rater1 rater2 refNum refCountry
zurutuza    186.0  78.0   0.0    0.0    2356   3           0.588297  1897.0
                                        2449   3           0.588297  1897.0
                                        2639   3           0.588297  1897.0
                                        2690   52          1.212727   550.0
                                        3012   3           0.588297  1897.0

                                                              seExp
playerShort height weight rater1 rater2 refNum refCountry
zurutuza    186.0  78.0   0.0    0.0    2356   3           0.001002
                                        2449   3           0.001002
                                        2639   3           0.001002
                                        2690   52          0.004521
                                        3012   3           0.001002

In [13]:
# Drop the non worthing columns
df1.drop(['player', 'birthday', 'photoID', 'Alpha_3' ], inplace=True, axis=1)

/Users/Sam/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [14]:
def cleanData(df):
    #convert all columns to object (ML string problems)
    df.dtypes[df.dtypes.map(lambda x: x == 'object')]
    #Column with missing values
    missing_col = df.columns[df.isnull().any()].tolist()
    for item in missing_col:
        df[[item]].fillna(df.groupby(item).transform('median'))
    #Transforme catheogorical data to numerical data
    col_to_conv = ['playerShort', 'club', 'leagueCountry', 'position']
    for col in col_to_conv:
        items_cat = pd.Categorical(df[col], ordered= False) # default order: alphabetical
        df[col] = items_cat.labels # insert in datafram 
        #items = sorted(df[col].unique())
        #items_map = dict(zip(items, range(0, len(items) + 1)))
        #df[col] = df[col].map(items_map).astype(int)
    return df

In [15]:
df3 = cleanData(df1)

/Users/Sam/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:12: FutureWarning: 'labels' is deprecated. Use 'codes' instead
/Users/Sam/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
df3.tail()

,playerShort,club,leagueCountry,height,weight,position,games,victories,ties,defeats,...,rater1,rater2,refNum,refCountry,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
146023,1501,6,0,178.0,67.0,0,1,1,0,0,...,0.00,0.00,3147,21,0.376127,574.0,0.000714,0.49835,606.0,0.002968
146024,1547,93,0,190.0,87.0,1,1,0,0,1,...,0.25,0.50,3147,21,0.376127,574.0,0.000714,0.49835,606.0,0.002968
146025,1553,12,2,169.0,72.0,7,1,1,0,0,...,0.25,0.25,3147,21,0.376127,574.0,0.000714,0.49835,606.0,0.002968
146026,1561,92,0,173.0,NaN,8,1,0,0,1,...,0.50,0.50,3147,21,0.376127,574.0,0.000714,0.49835,606.0,0.002968
146027,1573,1,2,174.0,72.0,9,1,0,0,1,...,0.00,0.25,3147,21,0.376127,574.0,0.000714,0.49835,606.0,0.002968

In [17]:
#Let study the distribution of the missing value and fille them correctly

In [1]:
plt.rc('figure', figsize=(25, 5))
# Set up the grid of plots
fig = plt.figure(figsize=fizsize_with_subplots)
fig_dims = (3, 2)

#Plot heights
plt.subplot2grid(fig_dims, (0, 0))
df3['height'].value_counts(sort=False).plot(kind='bar', 
                                         title='Heights distribution')

#Plot weights
plt.subplot2grid(fig_dims, (0, 1))
df3['weight'].value_counts(sort = False).plot(kind='bar', 
                                         title='Weights distribution')

#Plot positions
plt.subplot2grid(fig_dims, (1, 0))
df3['position'].value_counts(sort = False).plot(kind='bar', 
                                    title='Position distribution')

# Plot yellowCards counts
plt.subplot2grid(fig_dims, (1, 1))
df3['yellowCards'].value_counts(sort = False).plot(kind='bar', 
                                         title='yellowCards distribution')

# Plot yellowRedscounts
plt.subplot2grid(fig_dims, (2, 0))
df3['yellowReds'].value_counts(sort = False).plot(kind='bar', 
                                         title='yellowReds distribution')

# Plot redCards counts
plt.subplot2grid(fig_dims, (2, 0))
df3['redCards'].value_counts(sort = False).plot(kind='bar', 
                                       title='redCards distribution')

plt.tight_layout()
# problem with sorting labels, to be fixed ...

NameError: name 'plt' is not defined

In [19]:
def normalize(x):
    #return (x - x.mean()) / x.std()
    return (x - x.mean()) / (x.max() - x.min())

In [20]:
# Here we normalize both height and weight
cols_to_norm = ['height', 'weight']
df3[['height_norm','weight_norm']] = df3[cols_to_norm].apply(lambda x: normalize(x))

/Users/Sam/anaconda/lib/python3.5/site-packages/pandas/core/frame.py:2378: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [34]:
df3['IATEXPmean'] = df3[['meanIAT', 'meanExp']].mean(axis=1)
df3['IATEXPstd'] = df3['IATEXPmean'].std()

/Users/Sam/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/Sam/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [35]:
df3.columns

Index(['playerShort', 'club', 'leagueCountry', 'height', 'weight', 'position',
       'games', 'victories', 'ties', 'defeats', 'goals', 'yellowCards',
       'yellowReds', 'redCards', 'rater1', 'rater2', 'refNum', 'refCountry',
       'meanIAT', 'nIAT', 'seIAT', 'meanExp', 'nExp', 'seExp', 'height_norm',
       'weight_norm', 'IATEXPmean', 'IATEXPstd'],
      dtype='object')